<html>
<head><title> Change your bucktownacademy.schooltalknow.com Password </title> </head>
<body>
  <p>
Hi <%= username %>,</p>
<p>

You recently asked to reset your bucktownacademy.schooltalknow.com password.
Click <a href="http://<%=app_url %>?token=<%= token %>&userId=<%= userId %>"> here </a> to change your password.
 </p>
</body>
</html>